﻿@page
@{
    Layout = "_Layout";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

        Message from vue: <span v-text="appMessage"></span><br />

        <div class="buttonWrap">
            <button type="button" v-if="displayButton1">Button 1</button>
            <button type="button" v-if="displayButton2">Button 2</button>
        </div>
        
        <div>
            Button 1 visibility: <button type="button" v-on:click="displayButton1 = !displayButton1">Toggle 1</button><br />
            Button 2 visibility: <button type="button" v-on:click="displayButton2 = !displayButton2">Toggle 2</button><br />
        </div>
    </div>

@section Scripts {
    <script type="text/javascript">
    var pageMixin = {
        data: function() {
            return {
                displayButton1: true,
                displayButton2: false
                };
        },
        methods: {}
        };
        
        mixinArray.push(pageMixin);
    </script>
}
